.socialWrapperCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns, each equal width */
  gap: 1rem;
  width: 100%;
}

.socialWrapperCard {
  /* Remove min-width and flex properties */
  padding: 2rem 1rem 2.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  outline: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.socialWrapperCard:hover{
  background-color: transparent;
}

.otherLinksWrapper{
margin-top: 2rem;
display: flex;
align-items: center;
gap: 2rem;

}

.socialIconsWrapper{
  display: flex;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .socialWrapperCards{
    display: flex;
    flex-direction: column;
  }
  .otherLinksWrapper{
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
  .socialWrapperCard{
    min-width: 100%;
  }

}