.socialWrapperCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns, each equal width */
  gap: 1rem;
  width: 100%;
}

@media (max-width: 1000px){
  
}

.socialWrapperCard {
  /* Remove min-width and flex properties */
  padding: 2rem 1rem 2.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  outline: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.socialWrapperCard:hover{
  background-color: transparent;
}

