.underWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: start;

}

.humanSendButton{
  flex: 0 0 auto;
  min-width: 20%;
}

.underWrapper h1{
  text-align: center;
  line-height: 130%;
  font-size: 3em;
}

@media (max-width: 1000px) {
  .underWrapper h1{
  text-align: center;
  line-height: 130%;
  font-size: 2.5em;
}
}

