.imgWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;

}
.finger{
  z-index: -1;
}
/* Both images scale together */
.logo__half,
.niko__image {
  position: relative;
  width: clamp(180px, 30vw, 300px);
  aspect-ratio: 2 / 5;
  pointer-events: none;

}
.images {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
.shadow {
  mix-blend-mode: screen;
  z-index: 2;
}

.highlight {
  mix-blend-mode: overlay;
  z-index: 2;
}

.color__mask {
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  z-index: 1;

  /* use base.webp as mask */
  -webkit-mask-image: url("/images/personal/base.webp");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("/images/personal/shadow.webp");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mix-blend-mode: multiply;
}

.imageContainer {
  position: relative;
  width: fit-content;
}

.globe {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: var(--primary-color);
  left: 100%;
  top: 50%;
  border-radius: 100%;
  transform: translate(-120%, -112%);
  animation: anm__globe ease infinite 3s;
  
}
.base{
  z-index: 1;
}

.globe::after{
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgb(7, 7, 30);
  border-radius: 50%;
  animation: blinking 3s ease infinite;
  transform-origin: center;
}

.textWrapper{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  width: 100%;
  position: absolute;
  right: 110%;
  top: 50%;
  text-align: right;

}
.hrHeadline{
  font-weight: 800;
  font-size: 130px;
  line-height: 120px;
  color: var(--secondary-color);
}
@keyframes anm__globe{
  0%{
    transform: translate(-120%, -112%)
  }
  50%{transform: translate(-80%, -130%);}
  75%{
    transform: translate(-90%, -160%);
  }
  100%{
    transform: translate(-120%, -112%)
  }
  
}
@keyframes blinking{
  0%{
    transform: scaleY(1);
  }

  85%{
    transform: scaleY(1);
  }

  90%{
    transform: scaleY(0.05);
  }

  100%{
    transform: scaleY(1);
  }
}
@media (max-width: 750px) {
  .imgWrapper {
    height: 60vh;
    align-items: end;
  }

  .globe {
    width: 100px;
    height: 100px;
  }

  .globe::after {
    width: 30px;
    height: 30px;
  }
  .hrHeadline{
    font-size: 65px;
    line-height: 60px;
   
  }
}

.other__section{
  height: 100vh;
  width: 100%;
  background-color: blue;
}

