.hero {
  overflow: hidden;
  position: relative;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  margin: 0 auto;

  position: relative;
  overflow: hidden;
}

.finger {
  z-index: -1;
}

/* Both images scale together */
.logo__half,
.niko__image {
  position: relative;
  width: clamp(200px, 40vw, 300px);
  aspect-ratio: 2 / 5;
  pointer-events: none;
}

.images {
  position: absolute;
  inset: 0;
  object-fit: contain;
}

.shadow {
  mix-blend-mode: screen;
  z-index: 2;
}

.highlight {
  mix-blend-mode: overlay;
  z-index: 2;
}

.color__mask {
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  z-index: 1;

  -webkit-mask-image: url("/images/personal/base.webp");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("/images/personal/shadow.webp");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mix-blend-mode: multiply;
}

.imageContainer {
  position: relative;
  width: fit-content;
}

.globe {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  width: clamp(70px, 12vw, 150px);
  height: clamp(70px, 12vw, 150px);

  background-color: var(--primary-color);
  left: 100%;
  top: 35%;
  border-radius: 50%;
  transform: translate(-100%, -50%);
  animation: anm__globe ease infinite 3s;
  will-change: transform;
}

.base {
  z-index: 1;
}

.globe::after{
  content: "";
  width: clamp(20px, 3vw, 50px);
  height: clamp(20px, 3vw, 50px);
  background-color: rgb(7, 7, 30);
  border-radius: 50%;
  animation: blinking 3s ease infinite;
}
.statusWrapper{
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  color: white;
  align-items: center;
  gap: 0.5rem;
  z-index: 12;
  
}

.hrStatusLight{
  background-color: var(--green-color);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
  from {
    box-shadow: 0 0 2px var(--green-color);
  }
  to {
    box-shadow: 0 0 30px var(--green-color);
  }
}
.beforeHr{
  font-size: 1rem;
}
.afterHr {
  font-size: 2rem;
  line-height: 1.9rem;
  
}
.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
  position: absolute;
  left: 50%;
  padding-right: 1rem;
  transform: translate(-100%);
  bottom: 1rem;
  text-align: right;
  z-index: 100;
  margin-bottom: 1rem;
}



.hrHeadline {
  font-weight: 800;
  font-size: 120px;
  line-height: 110px;
  color: var(--secondary-color);
}
.buttonWrapper{
  display: flex;
  gap: 1rem;
}
.ctaButton {
  position: relative;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1rem;
  width: 160px;
  height: 60px;
  margin-left: auto;
  margin-top: 1rem;
  overflow: hidden;
  transition: 0.3s;
}

.download__CV{
  border: 2px var(--secondary-color) solid;
  background: transparent;
}
.get__in__touch{
  background: var(--primary-color);
}
.download__CV:hover, .get__in__touch:hover{
  background: var(--secondary-color);
   border: 2px var(--secondary-color) solid;
   color: white;
}

@keyframes anm__globe {
  0% {
    transform: translate(-100%, -50%);
  }
  50% {
    transform: translate(-85%, -65%);
  }
  75% {
    transform: translate(-90%, -80%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}

@keyframes blinking {
  0%,
  85%,
  100% {
    transform: scaleY(1);
  }

  90% {
    transform: scaleY(0.05);
  }
}

@media (max-width: 1025px) {
  .imgWrapper {
    min-height: 50vh;
  }


  .hrHeadline {
    font-size: 110px;
    line-height: 100px;
  }
  .textWrapper{
    gap: 0.5rem;
  }

  .afterHr {
    font-size: 2rem;
    line-height: 1.8rem;
    width: 80%
  }
  
  
}

@media (max-width: 600px) {
  .logo__half,
  .niko__image {
    width: clamp(150px, 20vw, 300px);
  }

  .afterHr {
    font-size: 1.2rem;
    line-height: 1.05rem;
  }

  .hrHeadline {
    font-size: 3rem;
    line-height: 2.8rem;
    width: 100%;
  }

  .ctaButton {
    font-size: 0.8rem;
  }
}