.hero {
  overflow: hidden;
  position: relative;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  margin: 0 auto;

  position: relative;
  overflow: hidden;
}

.finger {
  z-index: -1;
}

/* Both images scale together */
.logo__half,
.niko__image {
  position: relative;
  width: clamp(200px, 40vw, 300px);
  aspect-ratio: 2 / 5;
  pointer-events: none;
}

.images {
  position: absolute;
  inset: 0;
  object-fit: contain;
}

.shadow {
  mix-blend-mode: screen;
  z-index: 2;
}

.highlight {
  mix-blend-mode: overlay;
  z-index: 2;
}

.color__mask {
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  z-index: 1;

  -webkit-mask-image: url("/images/personal/base.webp");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("/images/personal/shadow.webp");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mix-blend-mode: multiply;
}

.imageContainer {
  position: relative;
  width: fit-content;
}

.globe {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  width: clamp(70px, 12vw, 150px);
  height: clamp(70px, 12vw, 150px);

  background-color: var(--primary-color);
  left: 100%;
  top: 35%;
  border-radius: 50%;
  transform: translate(-100%, -50%);
  animation: anm__globe ease infinite 3s;
  will-change: transform;
}

.base {
  z-index: 1;
}

.globe::after{
  content: "";
  width: clamp(20px, 3vw, 50px);
  height: clamp(20px, 3vw, 50px);
  background-color: rgb(7, 7, 30);
  border-radius: 50%;
  animation: blinking 3s ease infinite;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-100%);
  bottom: 0;
  text-align: right;
  padding: 1rem;
}

.beforeHr {
  font-size: 2rem;
  line-height: 1.9rem;
  width: 70%;
}

.hrHeadline {
  font-weight: 800;
  font-size: 130px;
  line-height: 120px;
  color: var(--secondary-color);
}

.ctaButton {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  width: max-content;
  margin-left: auto;
}

@keyframes anm__globe {
  0% {
    transform: translate(-100%, -50%);
  }
  50% {
    transform: translate(-85%, -65%);
  }
  75% {
    transform: translate(-90%, -80%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}

@keyframes blinking {
  0%,
  85%,
  100% {
    transform: scaleY(1);
  }

  90% {
    transform: scaleY(0.05);
  }
}

@media (max-width: 1000px) {
  .imgWrapper {
    min-height: 70vh;
  }


  .hrHeadline {
    font-size: 110px;
    line-height: 100px;
  }
  .textWrapper{
    gap: 0.5rem;
  }

  .beforeHr {
    font-size: 2rem;
    line-height: 1.8rem;
    width: 80%
  }
  
}

@media (max-width: 600px) {
  .logo__half,
  .niko__image {
    width: clamp(150px, 20vw, 300px);
  }

  .beforeHr {
    font-size: 1.2rem;
    line-height: 1.05rem;
  }

  .hrHeadline {
    font-size: 3rem;
    line-height: 2.8rem;
    width: 100%;
  }

  .ctaButton {
    font-size: 0.8rem;
  }
}