:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --brand-color:#3ce5e5;
  
  --text-xs:   0.75rem;    /* 12px */
  --text-sm:   0.875rem;   /* 14px */
  --text-m:    1rem;       /* 16px */
  --text-lg:   1.125rem;   /* 18px */
  --text-xl:   1.25rem;    /* 20px */
  --text-2xl:  1.5rem;     /* 24px */
  --text-3xl:  1.875rem;   /* 30px */
  --text-4xl:  2.25rem;    /* 36px */
  --text-5xl:  3rem;       /* 48px */
  --text-6xl:  3.75rem;    /* 60px */
  --text-7xl:  4.5rem;     /* 72px */
  --text-8xl:  6rem;       /* 96px */
  --text-9xl:  8rem;       /* 128px */

  /* === Spacing (match Tailwind p-*, m-*, gap-*) === */
  --space-0:  0rem;
  --space-1:  0.125rem;   /* 2px */
  --space-2:  0.25rem;    /* 4px */
  --space-3:  0.375rem;   /* 6px */
  --space-4:  0.5rem;     /* 8px */
  --space-5:  0.625rem;   /* 10px */
  --space-6:  0.75rem;    /* 12px */
  --space-7:  0.875rem;   /* 14px */
  --space-8:  1rem;       /* 16px */
  --space-9:  1.25rem;    /* 20px */
  --space-10: 1.5rem;     /* 24px */
  --space-11: 1.75rem;    /* 28px */
  --space-12: 2rem;       /* 32px */
  --space-13: 2.25rem;    /* 36px */
  --space-14: 2.5rem;     /* 40px */
  --space-15: 2.75rem;    /* 44px */
  --space-16: 3rem;       /* 48px */
  --space-17: 3.5rem;     /* 56px */
  --space-18: 4rem;       /* 64px */
  --space-19: 5rem;       /* 80px */
  --space-20: 6rem;       /* 96px */
  --space-21: 7rem;       /* 112px */
  --space-22: 8rem;       /* 128px */
  --space-23: 9rem;       /* 144px */
  --space-24: 10rem;      /* 160px */
  --space-25: 11rem;      /* 176px */
  --space-26: 12rem;      /* 192px */
  --space-27: 13rem;      /* 208px */
  --space-28: 14rem;      /* 224px */
  --space-29: 15rem;      /* 240px */
  --space-30: 16rem;      /* 256px */
  --space-31: 18rem;      /* 288px */
  --space-32: 20rem;      /* 320px */
  --space-33: 24rem;      /* 384px */
}
