.ctfWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.ctfTextWrapper {
  
}

.ctfInputWrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ctfNameLastnameWrapper{
  display: flex;
  width: 80%;
  gap: 1rem;
}

.ctfInput, .ctfTextarea{
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.ctfTextarea{
  height: 200px;
}

.ctfButton{
  background-color: var(--foreground);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.1s background-color;
}
.ctfButton:hover{
  background-color: var(--brand-color);
  color: var(--foreground);
}

@media(max-width: 1000px){
  .ctfWrapper{
    flex-direction: column;
    gap: 2rem;
  }
  .ctfNameLastnameWrapper{
    flex-direction: column;
    width: 100%;
  }
}