.img1:before, .img3:before, .img4:before, .img5:before, .img7:before {
  position: absolute;
  content: 'eee';
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgb(209, 44, 44);

  z-index: 100;
  border: 1px solid red; /* For debugging */
}

.img1, .img3, .img4, .img5, .img7 {
  position: relative;
}

 li::marker{
  color: pink;
  font-size: 25px;
  margin-right: 1rem;
}

.servicesImage{
  width: 100%;
}