.globePicker {
  position: absolute;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
}

/* remove default chrome styling */
.globePicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.globePicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.globePicker::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

