.heroWrapper{
  height: 100vh;
  display: flex;
}
.hrTextWrapper{
  position: relative;
}
.imgWrapper{
  position: relative;
  background-color: var(--brand-color);
  height: 100%;
  width: 50%;
}
.nikoImg{
  position: absolute;
  height: 85%;
  bottom: 0;
  width: auto;

}
.nikoLogo{
  position: absolute;
  right: -1px;
  top: 16.5%;
  width: auto;
  height: 27.7%;
}

.hrTextWrapper{
  text-align: right;

}
.textWrapper{
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-top: 0 auto;
}
.hrH1{
  font-size: 110px;
  line-height: 100px;
  font-weight: 800;
}
.hrDescription{
  font-size: 36px;
  line-height: 32px;
}
@media (max-width: 1000px){
  .hrH1{
    font-size: 80px;
    line-height: 70px;
  }
  .hrDescription{
    font-size: 24px;
    line-height: 21px;
  }
}
